In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
# example of using ImageDataGenerator to standardize images
from keras.datasets import mnist
from keras.utils import to_categorical
from keras.models import Sequential
from keras.layers import Conv2D, Convolution2D
from keras.layers import Dense, Dropout, Activation, Flatten, Add, BatchNormalization
from keras.layers import MaxPooling2D
from keras.layers import Flatten
from keras.preprocessing.image import ImageDataGenerator
from keras import regularizers
from keras.callbacks import ModelCheckpoint, LearningRateScheduler
# load dataset
(trainX, trainY), (testX, testY) = mnist.load_data()
# reshape dataset to have a single channel
width, height, channels = trainX.shape[1], trainX.shape[2], 1
trainX = trainX.reshape((trainX.shape[0], width, height, channels))
testX = testX.reshape((testX.shape[0], width, height, channels))
trainX = trainX.astype('float32')
testX = testX.astype('float32')
trainX /= 255
testX /= 255
# one hot encode target values
trainY = to_categorical(trainY)
testY = to_categorical(testY)
# create generator to standardize images
datagen = ImageDataGenerator(featurewise_center=True, featurewise_std_normalization=True)
# calculate mean on training dataset
datagen.fit(trainX)
# prepare an iterators to scale images
train_iterator = datagen.flow(trainX, trainY, batch_size=512)
test_iterator = datagen.flow(testX, testY, batch_size=512)
print('Batches train=%d, test=%d' % (len(train_iterator), len(test_iterator)))

Using TensorFlow backend.

Downloading data from https://s3.amazonaws.com/img-datasets/mnist.npz
11493376/11490434 [==============================] - 2s 0us/step
Batches train=118, test=20

In [3]:
# define model
model = Sequential()

model.add(Convolution2D(10, 3, 3, kernel_regularizer=regularizers.l2(0.01), input_shape=(28,28,1))) # 26 3X3
model.add(BatchNormalization())
model.add(Activation('relu'))

model.add(Convolution2D(16, 3, 3, kernel_regularizer=regularizers.l2(0.01))) # 24 5X5
model.add(BatchNormalization())
model.add(Activation('relu'))
model.add(Convolution2D(16, 3, 3 , kernel_regularizer=regularizers.l2(0.01))) # 22 7X7
model.add(BatchNormalization())
model.add(Activation('relu'))
model.add(Convolution2D(10, 3, 3 , kernel_regularizer=regularizers.l2(0.01))) # 20 9X9
model.add(BatchNormalization())
model.add(Activation('relu'))
model.add(Convolution2D(16, 3, 3 , kernel_regularizer=regularizers.l2(0.01))) # 18 11X11
model.add(BatchNormalization())
model.add(Activation('relu'))

model.add(Dropout(0.025))

model.add(MaxPooling2D(pool_size=(2, 2))) # 9 22X22
model.add(Convolution2D(10, 1, 1 , kernel_regularizer=regularizers.l2(0.01))) #  7 24X24
model.add(BatchNormalization())
model.add(Activation('relu'))

model.add(Convolution2D(16, 3, 3 , kernel_regularizer=regularizers.l2(0.01))) # 5 26X26
model.add(BatchNormalization())
model.add(Activation('relu'))
model.add(Convolution2D(16, 3, 3 , kernel_regularizer=regularizers.l2(0.01))) #  3 28X28
model.add(BatchNormalization())
model.add(Activation('relu'))
model.add(Dropout(0.025))


model.add(Convolution2D(16, 3, 3 , kernel_regularizer=regularizers.l2(0.01))) 
model.add(BatchNormalization())
model.add(Activation('relu'))
model.add(Convolution2D(10, 1 , kernel_regularizer=regularizers.l2(0.01))) 
model.add(Activation('relu'))

model.add(Convolution2D(10, 3 , kernel_regularizer=regularizers.l2(0.01)))
model.add(Flatten())
model.add(Activation('softmax'))

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: UserWarning: Update your `Conv2D` call to the Keras 2 API: `Conv2D(10, (3, 3), kernel_regularizer=<keras.reg..., input_shape=(28, 28, 1...)`
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: UserWarning: Update your `Conv2D` call to the Keras 2 API: `Conv2D(16, (3, 3), kernel_regularizer=<keras.reg...)`
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: UserWarning: Update your `Conv2D` call to the Keras 2 API: `Conv2D(16, (3, 3), kernel_regularizer=<keras.reg...)`
  # Remove the CWD from sys.path while we load stuff.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: UserWarning: Update your `Conv2D` call to the Keras 2 API: `Conv2D(10, (3, 3), kernel_regularizer=<keras.reg...)`
  del sys.path[0]
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: UserWarning: Update your `Conv2D` call to the Keras 2 API: `Conv2D(16, (3, 3), kernel_regularizer=<keras.reg...)`
  app.launch_new_instance()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: UserWarning: Update your `Conv2D` call to the Keras 2 API: `Conv2D(10, (1, 1), kernel_regularizer=<keras.reg...)`
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:27: UserWarning: Update your `Conv2D` call to the Keras 2 API: `Conv2D(16, (3, 3), kernel_regularizer=<keras.reg...)`
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:30: UserWarning: Update your `Conv2D` call to the Keras 2 API: `Conv2D(16, (3, 3), kernel_regularizer=<keras.reg...)`
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:36: UserWarning: Update your `Conv2D` call to the Keras 2 API: `Conv2D(16, (3, 3), kernel_regularizer=<keras.reg...)`

In [4]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_1 (Conv2D)            (None, 26, 26, 10)        100
_________________________________________________________________
batch_normalization_1 (Batch (None, 26, 26, 10)        40
_________________________________________________________________
activation_1 (Activation)    (None, 26, 26, 10)        0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 24, 24, 16)        1456
_________________________________________________________________
batch_normalization_2 (Batch (None, 24, 24, 16)        64
_________________________________________________________________
activation_2 (Activation)    (None, 24, 24, 16)        0
_________________________________________________________________
conv2d_3 (Conv2D)            (None, 22, 22, 16)        2320
_________________________________________________________________
batch_normalization_3 (Batch (None, 22, 22, 16)        64
_________________________________________________________________
activation_3 (Activation)    (None, 22, 22, 16)        0
_________________________________________________________________
conv2d_4 (Conv2D)            (None, 20, 20, 10)        1450
_________________________________________________________________
batch_normalization_4 (Batch (None, 20, 20, 10)        40
_________________________________________________________________
activation_4 (Activation)    (None, 20, 20, 10)        0
_________________________________________________________________
conv2d_5 (Conv2D)            (None, 18, 18, 16)        1456
_________________________________________________________________
batch_normalization_5 (Batch (None, 18, 18, 16)        64
_________________________________________________________________
activation_5 (Activation)    (None, 18, 18, 16)        0
_________________________________________________________________
dropout_1 (Dropout)          (None, 18, 18, 16)        0
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 9, 9, 16)          0
_________________________________________________________________
conv2d_6 (Conv2D)            (None, 9, 9, 10)          170
_________________________________________________________________
batch_normalization_6 (Batch (None, 9, 9, 10)          40
_________________________________________________________________
activation_6 (Activation)    (None, 9, 9, 10)          0
_________________________________________________________________
conv2d_7 (Conv2D)            (None, 7, 7, 16)          1456
_________________________________________________________________
batch_normalization_7 (Batch (None, 7, 7, 16)          64
_________________________________________________________________
activation_7 (Activation)    (None, 7, 7, 16)          0
_________________________________________________________________
conv2d_8 (Conv2D)            (None, 5, 5, 16)          2320
_________________________________________________________________
batch_normalization_8 (Batch (None, 5, 5, 16)          64
_________________________________________________________________
activation_8 (Activation)    (None, 5, 5, 16)          0
_________________________________________________________________
dropout_2 (Dropout)          (None, 5, 5, 16)          0
_________________________________________________________________
conv2d_9 (Conv2D)            (None, 3, 3, 16)          2320
_________________________________________________________________
batch_normalization_9 (Batch (None, 3, 3, 16)          64
_________________________________________________________________
activation_9 (Activation)    (None, 3, 3, 16)          0
_________________________________________________________________
conv2d_10 (Conv2D)           (None, 3, 3, 10)          170
_________________________________________________________________
activation_10 (Activation)   (None, 3, 3, 10)          0
_________________________________________________________________
conv2d_11 (Conv2D)           (None, 1, 1, 10)          910
_________________________________________________________________
flatten_1 (Flatten)          (None, 10)                0
_________________________________________________________________
activation_11 (Activation)   (None, 10)                0
=================================================================
Total params: 14,632
Trainable params: 14,380
Non-trainable params: 252
_________________________________________________________________

In [0]:
def scheduler(epoch, lr):
  return round(0.007 * 1/(1 + 0.121 * epoch), 10)

In [0]:
from keras import optimizers
from keras.callbacks import ModelCheckpoint, LearningRateScheduler

In [0]:
adam = optimizers.Adam(lr=0.007)

In [0]:
# compile model
model.compile(optimizer=adam, loss='categorical_crossentropy', metrics=['accuracy'])

In [0]:
filepath="/content/drive/My Drive/EVA-Assignment-5-weights/EVA-Assignment-5-weights.hdf5"
checkpoint = ModelCheckpoint(filepath, monitor='val_acc', save_best_only=True,verbose=1,save_weights_only=True,period=1,mode='max')
callbacks_list = [checkpoint]

In [10]:
# fit model with generator
model.fit_generator(train_iterator, steps_per_epoch=512, epochs=40, verbose=1,callbacks=[checkpoint,LearningRateScheduler(scheduler)],validation_data=test_iterator,validation_steps=512)
# evaluate model

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/40
512/512 [==============================] - 27s 52ms/step - loss: 0.4337 - acc: 0.9539 - val_loss: 0.3453 - val_acc: 0.9533

Epoch 00001: val_acc improved from -inf to 0.95335, saving model to /content/drive/My Drive/EVA-Assignment-5-weights/EVA-Assignment-5-weights.hdf5
Epoch 2/40
512/512 [==============================] - 21s 42ms/step - loss: 0.2185 - acc: 0.9768 - val_loss: 0.6061 - val_acc: 0.8439

Epoch 00002: val_acc did not improve from 0.95335
Epoch 3/40
512/512 [==============================] - 21s 42ms/step - loss: 0.1921 - acc: 0.9785 - val_loss: 0.6729 - val_acc: 0.8197

Epoch 00003: val_acc did not improve from 0.95335
Epoch 4/40
512/512 [==============================] - 21s 42ms/step - loss: 0.1755 - acc: 0.9797 - val_loss: 0.2755 - val_acc: 0.9489

Epoch 00004: val_acc did not improve from 0.95335
Epoch 5/40
512/512 [==============================] - 21s 42ms/step - loss: 0.1631 - acc: 0.9806 - val_loss: 0.2415 - val_acc: 0.9585

Epoch 00005: val_acc improved from 0.95335 to 0.95852, saving model to /content/drive/My Drive/EVA-Assignment-5-weights/EVA-Assignment-5-weights.hdf5
Epoch 6/40
512/512 [==============================] - 21s 42ms/step - loss: 0.1528 - acc: 0.9814 - val_loss: 0.3842 - val_acc: 0.9102

Epoch 00006: val_acc did not improve from 0.95852
Epoch 7/40
512/512 [==============================] - 21s 41ms/step - loss: 0.1454 - acc: 0.9818 - val_loss: 0.1562 - val_acc: 0.9797

Epoch 00007: val_acc improved from 0.95852 to 0.97969, saving model to /content/drive/My Drive/EVA-Assignment-5-weights/EVA-Assignment-5-weights.hdf5
Epoch 8/40
512/512 [==============================] - 21s 41ms/step - loss: 0.1384 - acc: 0.9828 - val_loss: 0.1612 - val_acc: 0.9756

Epoch 00008: val_acc did not improve from 0.97969
Epoch 9/40
512/512 [==============================] - 21s 41ms/step - loss: 0.1304 - acc: 0.9830 - val_loss: 0.1554 - val_acc: 0.9767

Epoch 00009: val_acc did not improve from 0.97969
Epoch 10/40
512/512 [==============================] - 21s 41ms/step - loss: 0.1255 - acc: 0.9834 - val_loss: 0.1919 - val_acc: 0.9630

Epoch 00010: val_acc did not improve from 0.97969
Epoch 11/40
512/512 [==============================] - 21s 41ms/step - loss: 0.1182 - acc: 0.9843 - val_loss: 0.2166 - val_acc: 0.9458

Epoch 00011: val_acc did not improve from 0.97969
Epoch 12/40
512/512 [==============================] - 21s 41ms/step - loss: 0.1181 - acc: 0.9839 - val_loss: 0.1926 - val_acc: 0.9675

Epoch 00012: val_acc did not improve from 0.97969
Epoch 13/40
512/512 [==============================] - 21s 41ms/step - loss: 0.1139 - acc: 0.9846 - val_loss: 0.1633 - val_acc: 0.9721

Epoch 00013: val_acc did not improve from 0.97969
Epoch 14/40
512/512 [==============================] - 21s 41ms/step - loss: 0.1099 - acc: 0.9850 - val_loss: 0.1235 - val_acc: 0.9827

Epoch 00014: val_acc improved from 0.97969 to 0.98271, saving model to /content/drive/My Drive/EVA-Assignment-5-weights/EVA-Assignment-5-weights.hdf5
Epoch 15/40
512/512 [==============================] - 21s 41ms/step - loss: 0.1075 - acc: 0.9853 - val_loss: 0.1492 - val_acc: 0.9724

Epoch 00015: val_acc did not improve from 0.98271
Epoch 16/40
512/512 [==============================] - 21s 41ms/step - loss: 0.1034 - acc: 0.9859 - val_loss: 0.1242 - val_acc: 0.9801

Epoch 00016: val_acc did not improve from 0.98271
Epoch 17/40
512/512 [==============================] - 21s 41ms/step - loss: 0.1012 - acc: 0.9860 - val_loss: 0.1008 - val_acc: 0.9867

Epoch 00017: val_acc improved from 0.98271 to 0.98672, saving model to /content/drive/My Drive/EVA-Assignment-5-weights/EVA-Assignment-5-weights.hdf5
Epoch 18/40
512/512 [==============================] - 21s 41ms/step - loss: 0.0976 - acc: 0.9865 - val_loss: 0.2116 - val_acc: 0.9500

Epoch 00018: val_acc did not improve from 0.98672
Epoch 19/40
512/512 [==============================] - 21s 41ms/step - loss: 0.0956 - acc: 0.9869 - val_loss: 0.1109 - val_acc: 0.9824

Epoch 00019: val_acc did not improve from 0.98672
Epoch 20/40
512/512 [==============================] - 21s 41ms/step - loss: 0.0934 - acc: 0.9872 - val_loss: 0.1010 - val_acc: 0.9858

Epoch 00020: val_acc did not improve from 0.98672
Epoch 21/40
512/512 [==============================] - 21s 41ms/step - loss: 0.0911 - acc: 0.9875 - val_loss: 0.1104 - val_acc: 0.9817

Epoch 00021: val_acc did not improve from 0.98672
Epoch 22/40
512/512 [==============================] - 21s 41ms/step - loss: 0.0888 - acc: 0.9878 - val_loss: 0.1293 - val_acc: 0.9781

Epoch 00022: val_acc did not improve from 0.98672
Epoch 23/40
512/512 [==============================] - 21s 41ms/step - loss: 0.0869 - acc: 0.9881 - val_loss: 0.0959 - val_acc: 0.9869

Epoch 00023: val_acc improved from 0.98672 to 0.98690, saving model to /content/drive/My Drive/EVA-Assignment-5-weights/EVA-Assignment-5-weights.hdf5
Epoch 24/40
512/512 [==============================] - 21s 41ms/step - loss: 0.0844 - acc: 0.9883 - val_loss: 0.1435 - val_acc: 0.9681

Epoch 00024: val_acc did not improve from 0.98690
Epoch 25/40
512/512 [==============================] - 21s 41ms/step - loss: 0.0855 - acc: 0.9881 - val_loss: 0.0944 - val_acc: 0.9853

Epoch 00025: val_acc did not improve from 0.98690
Epoch 26/40
512/512 [==============================] - 21s 40ms/step - loss: 0.0821 - acc: 0.9889 - val_loss: 0.1607 - val_acc: 0.9620

Epoch 00026: val_acc did not improve from 0.98690
Epoch 27/40
512/512 [==============================] - 21s 40ms/step - loss: 0.0821 - acc: 0.9886 - val_loss: 0.0923 - val_acc: 0.9871

Epoch 00027: val_acc improved from 0.98690 to 0.98710, saving model to /content/drive/My Drive/EVA-Assignment-5-weights/EVA-Assignment-5-weights.hdf5
Epoch 28/40
512/512 [==============================] - 21s 41ms/step - loss: 0.0811 - acc: 0.9888 - val_loss: 0.1525 - val_acc: 0.9680

Epoch 00028: val_acc did not improve from 0.98710
Epoch 29/40
512/512 [==============================] - 21s 41ms/step - loss: 0.0771 - acc: 0.9896 - val_loss: 0.1072 - val_acc: 0.9823

Epoch 00029: val_acc did not improve from 0.98710
Epoch 30/40
512/512 [==============================] - 21s 41ms/step - loss: 0.0790 - acc: 0.9888 - val_loss: 0.0939 - val_acc: 0.9846

Epoch 00030: val_acc did not improve from 0.98710
Epoch 31/40
512/512 [==============================] - 21s 41ms/step - loss: 0.0767 - acc: 0.9894 - val_loss: 0.1020 - val_acc: 0.9828

Epoch 00031: val_acc did not improve from 0.98710
Epoch 32/40
512/512 [==============================] - 21s 41ms/step - loss: 0.0739 - acc: 0.9899 - val_loss: 0.0988 - val_acc: 0.9823

Epoch 00032: val_acc did not improve from 0.98710
Epoch 33/40
512/512 [==============================] - 21s 40ms/step - loss: 0.0729 - acc: 0.9904 - val_loss: 0.1423 - val_acc: 0.9683

Epoch 00033: val_acc did not improve from 0.98710
Epoch 34/40
512/512 [==============================] - 21s 41ms/step - loss: 0.0730 - acc: 0.9901 - val_loss: 0.1131 - val_acc: 0.9767

Epoch 00034: val_acc did not improve from 0.98710
Epoch 35/40
512/512 [==============================] - 21s 41ms/step - loss: 0.0718 - acc: 0.9902 - val_loss: 0.1098 - val_acc: 0.9790

Epoch 00035: val_acc did not improve from 0.98710
Epoch 36/40
512/512 [==============================] - 21s 41ms/step - loss: 0.0711 - acc: 0.9905 - val_loss: 0.0807 - val_acc: 0.9866

Epoch 00036: val_acc did not improve from 0.98710
Epoch 37/40
512/512 [==============================] - 21s 41ms/step - loss: 0.0706 - acc: 0.9903 - val_loss: 0.1179 - val_acc: 0.9740

Epoch 00037: val_acc did not improve from 0.98710
Epoch 38/40
512/512 [==============================] - 21s 40ms/step - loss: 0.0696 - acc: 0.9904 - val_loss: 0.0931 - val_acc: 0.9825

Epoch 00038: val_acc did not improve from 0.98710
Epoch 39/40
512/512 [==============================] - 21s 41ms/step - loss: 0.0685 - acc: 0.9907 - val_loss: 0.0879 - val_acc: 0.9863

Epoch 00039: val_acc did not improve from 0.98710
Epoch 40/40
512/512 [==============================] - 21s 41ms/step - loss: 0.0663 - acc: 0.9913 - val_loss: 0.0682 - val_acc: 0.9909

Epoch 00040: val_acc improved from 0.98710 to 0.99091, saving model to /content/drive/My Drive/EVA-Assignment-5-weights/EVA-Assignment-5-weights.hdf5

In [0]:
model.load_weights("/content/drive/My Drive/EVA-Assignment-5-weights/EVA-Assignment-5-weights.hdf5") ## Load the weights that gave highest validation accuracy

In [12]:
stats = model.evaluate_generator(test_iterator, steps=512,  max_queue_size=10, workers=1, use_multiprocessing=False, verbose=1) ## get loass, accuracy

512/512 [==============================] - 5s 10ms/step

In [13]:
print("Loss, Accuracy = ", stats)

Loss, Accuracy =  [0.06816613846594333, 0.9908996499175247]

In [0]:
import pandas as pd
import numpy

In [0]:
predicted = model.predict_generator(datagen.flow(testX, testY, batch_size=512, shuffle = False), steps = numpy.ceil(testX.shape[0]/512)) ## predict using model

In [0]:
predicted = numpy.argmax(predicted, axis = 1) ## create a 1-d array of predicted test values

In [17]:
predicted

array([7, 2, 1, ..., 4, 5, 6])

In [0]:
actual = numpy.argmax(testY, axis = 1) ## create 1-d arra of original test values

In [19]:
actual

array([7, 2, 1, ..., 4, 5, 6])

In [0]:
from sklearn.metrics import confusion_matrix

In [0]:
cm = confusion_matrix(actual, predicted) ## create confusion matrix

In [22]:
cm

array([[ 979,    0,    0,    0,    0,    0,    0,    1,    0,    0],
       [   0, 1130,    0,    3,    0,    1,    1,    0,    0,    0],
       [   1,    2, 1023,    0,    0,    0,    2,    4,    0,    0],
       [   0,    0,    0, 1010,    0,    0,    0,    0,    0,    0],
       [   1,    2,    1,    0,  968,    0,    0,    2,    0,    8],
       [   0,    0,    0,    7,    0,  881,    2,    1,    0,    1],
       [   8,    3,    1,    0,    0,    0,  946,    0,    0,    0],
       [   0,    8,    2,    1,    0,    0,    0, 1017,    0,    0],
       [   3,    1,    2,    2,    0,    0,    0,    2,  957,    7],
       [   3,    1,    0,    0,    2,    3,    0,    2,    0,  998]])

In [0]:
full_df = pd.DataFrame(data = {'predicted': predicted, 'actual': actual}) ## create a dataframe

In [24]:
full_df.shape

(10000, 2)

In [25]:
full_df.dtypes

predicted    int64
actual       int64
dtype: object

In [26]:
full_df

      predicted  actual
0             7       7
1             2       2
2             1       1
3             0       0
4             4       4
5             1       1
6             4       4
7             9       9
8             5       5
9             9       9
10            0       0
11            6       6
12            9       9
13            0       0
14            1       1
15            5       5
16            9       9
17            7       7
18            3       3
19            4       4
20            9       9
21            6       6
22            6       6
23            5       5
24            4       4
25            0       0
26            7       7
27            4       4
28            0       0
29            1       1
...         ...     ...
9970          5       5
9971          2       2
9972          4       4
9973          9       9
9974          4       4
9975          3       3
9976          6       6
9977          4       4
9978          1       1
9979          7       7
9980          2       2
9981          6       6
9982          5       5
9983          0       0
9984          1       1
9985          2       2
9986          3       3
9987          4       4
9988          5       5
9989          6       6
9990          7       7
9991          8       8
9992          9       9
9993          0       0
9994          1       1
9995          2       2
9996          3       3
9997          4       4
9998          5       5
9999          6       6

[10000 rows x 2 columns]

In [0]:
misclassified = full_df[(full_df.predicted != full_df.actual)] ## dataframe that contains misclassified images

In [29]:
misclassified ## list misclassified images

      predicted  actual
115           9       4
259           0       6
321           7       2
445           0       6
495           0       8
543           2       8
582           2       8
646           6       2
659           1       2
674           3       5
900           3       1
916           2       4
947           9       8
956           3       1
965           0       6
1014          0       6
1178          0       4
1232          4       9
1247          5       9
1260          1       7
1299          7       5
1444          0       6
1500          3       7
1527          5       1
1530          7       8
1737          3       5
1790          7       2
1878          3       8
1901          4       9
2035          3       5
...         ...     ...
4639          9       8
4731          7       8
4837          1       7
4860          9       4
4874          0       9
4886          1       7
4978          9       8
5833          9       5
5937          3       5
6028          3       5
6555          9       8
6558          2       6
6571          7       9
6576          1       7
6597          7       0
6625          1       8
6740          0       9
6755          9       8
6906          6       2
7432          1       7
7514          0       8
8092          1       4
8095          1       4
8527          9       4
9620          1       9
9669          7       4
9679          1       6
9692          7       9
9729          6       5
9839          7       2

[91 rows x 2 columns]

In [30]:
misclassified.values

array([[9, 4],
       [0, 6],
       [7, 2],
       [0, 6],
       [0, 8],
       [2, 8],
       [2, 8],
       [6, 2],
       [1, 2],
       [3, 5],
       [3, 1],
       [2, 4],
       [9, 8],
       [3, 1],
       [0, 6],
       [0, 6],
       [0, 4],
       [4, 9],
       [5, 9],
       [1, 7],
       [7, 5],
       [0, 6],
       [3, 7],
       [5, 1],
       [7, 8],
       [3, 5],
       [7, 2],
       [3, 8],
       [4, 9],
       [3, 5],
       [6, 5],
       [3, 5],
       [0, 6],
       [9, 4],
       [1, 6],
       [9, 8],
       [3, 1],
       [0, 9],
       [9, 4],
       [0, 2],
       [1, 2],
       [3, 5],
       [1, 6],
       [9, 4],
       [7, 4],
       [0, 8],
       [9, 4],
       [5, 9],
       [0, 6],
       [1, 7],
       [9, 8],
       [0, 6],
       [6, 1],
       [2, 7],
       [2, 7],
       [1, 7],
       [3, 8],
       [1, 7],
       [7, 2],
       [5, 9],
       [9, 4],
       [9, 8],
       [7, 8],
       [1, 7],
       [9, 4],
       [0, 9],
       [1, 7],
       [9, 8],
       [9, 5],
       [3, 5],
       [3, 5],
       [9, 8],
       [2, 6],
       [7, 9],
       [1, 7],
       [7, 0],
       [1, 8],
       [0, 9],
       [9, 8],
       [6, 2],
       [1, 7],
       [0, 8],
       [1, 4],
       [1, 4],
       [9, 4],
       [1, 9],
       [7, 4],
       [1, 6],
       [7, 9],
       [6, 5],
       [7, 2]])

In [31]:
misclassified.actual.head(25)

115     4
259     6
321     2
445     6
495     8
543     8
582     8
646     2
659     2
674     5
900     1
916     4
947     8
956     1
965     6
1014    6
1178    4
1232    9
1247    9
1260    7
1299    5
1444    6
1500    7
1527    1
1530    8
Name: actual, dtype: int64

In [32]:
misclassified.shape

(91, 2)

In [0]:
proper_classified = full_df[(full_df.predicted == full_df.actual)]

In [35]:
proper_classified

      predicted  actual
0             7       7
1             2       2
2             1       1
3             0       0
4             4       4
5             1       1
6             4       4
7             9       9
8             5       5
9             9       9
10            0       0
11            6       6
12            9       9
13            0       0
14            1       1
15            5       5
16            9       9
17            7       7
18            3       3
19            4       4
20            9       9
21            6       6
22            6       6
23            5       5
24            4       4
25            0       0
26            7       7
27            4       4
28            0       0
29            1       1
...         ...     ...
9970          5       5
9971          2       2
9972          4       4
9973          9       9
9974          4       4
9975          3       3
9976          6       6
9977          4       4
9978          1       1
9979          7       7
9980          2       2
9981          6       6
9982          5       5
9983          0       0
9984          1       1
9985          2       2
9986          3       3
9987          4       4
9988          5       5
9989          6       6
9990          7       7
9991          8       8
9992          9       9
9993          0       0
9994          1       1
9995          2       2
9996          3       3
9997          4       4
9998          5       5
9999          6       6

[9909 rows x 2 columns]